.input-label {
  display: flex;
  flex-direction: column;

  
}

.input-default {
  outline: 0;
  font-size: 1.1rem !important;
}

.button{
  outline:0;
  border: none;
  height:30px !important;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-default {
  background:#B70E0C  !important;
  color: white !important;
  text-decoration: none !important;
  margin-bottom:10px;
  margin-top:10px;
}