html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.input-label {
  display: flex;
  flex-direction: column;
}

.input-default {
  outline: 0;
  font-size: 1rem !important;
  max-width:300px;
  min-width:280px;
}

.button {
  outline: 0;
  border: none;
  height: 30px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-default {
  background: #b70e0c !important;
  color: white !important;
  text-decoration: none !important;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width:300px;
  min-width:280px;
}
